/* Reset
/ ============================== */
html,
body {
 	font-family: "Lato", sans-serif;
	background: #EEEEEE;
}
pre,
pre.prettyprint {
	border: 0 !important;
	border-left: .3rem solid #2c3e50 !important;
	color: #655d5d;
}
.code-content .com {
	color: rgba(44, 62, 80, 0.4);
}

a {
	color: #2c3e50;
}

.button {
	background-color: #2c3e50;
	border-color: #2c3e50;
	font-weight: 300;
}

.container {
	max-width: 800px;
}


/* Header
/ ============================== */
.header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 75vh;
	z-index: 100;
}
.header:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 5px;
	background-color: #2c3e50;
}
	.header .logo {
		position: relative;
		display: block;
		width: 350px;
		max-width: 100%;
		z-index: 1;
	}
		.header .logo svg {
			width: 100%;
		}
			.header .logo svg path {
				fill: #2c3e50;
				stroke: #2c3e50;
				stroke-miterlimit: 10;
				stroke-width: 0.5px;
				stroke-dasharray: 2064;
				animation: 7s zooAnime forwards;
			}

		.header .logo h1 {
			position: relative;
			font-weight: 700;
			font-size: 3.5em;
			text-align: center;
			color: #2c3e50;
			animation: 7s textAnime forwards;
		}
			.header .logo h1 small {
				position: absolute;
				bottom: 0;
				margin: 0 0 -7px -35px;
				font-weight: 300;
				font-size: 0.25em;
				color: rgba(44, 62, 80, 0.7);
			}


@keyframes zooAnime {
	0% {
		fill-opacity: 0;
		stroke-dashoffset: 2064;
	}
	20% {
		fill-opacity: 0;
		stroke: #2c3e50;
	}
	100% {
		fill-opacity: 1;
		stroke-dashoffset: 0;
	}
}
@keyframes textAnime {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}



/* Main
/ ============================== */
.main .block {
	margin-bottom: 80px;
}
	.main .block .title {
		margin-bottom: 15px;
		line-height: 1;
		font-weight: 400;
	}
	.main .block p {
		margin-bottom: 10px;
		line-height: 1;
	}

.main .text-center {
	display: block;
	text-align: center;
}


.share-social {
	display: block;
	text-align: center;
	margin-bottom: 25px;
}
	.share-social small {
		display: block;
		padding-left: 5px;
	}
	.share-social a {
		height: 20px;
		min-height: 20px;
		padding: 5px 10px;
		font-size: .2em;
		line-height: 1;
	}
		.share-social a .fa {
			font-size: 1.2em;
		}

.github-share {
	display: flex;
	justify-content: center;
}
.github-share iframe {
	width: 75px;
	margin: 0 10px;
}

.item {
	position: relative;
	width: 100%;
	height: 300px;
	margin-bottom: 25px;
}
.item .zoo-item {
	border: 1px solid #EEEEEE;
	margin: 10px;
}


/* Footer
/ ============================== */
.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60px;
	background: rgba(44, 62, 80, 0.1);
}
	.footer a {
		font-weight: 400;
	}
	.footer small,
	.footer .github-corner {
		-webkit-transition: all 200ms linear;
		-moz-transition: all 200ms linear;
		-ms-transition: all 200ms linear;
		-o-transition: all 200ms linear;
		transition: all 200ms linear;
	}
	.footer:hover small {
		color: red;
		font-size: 1em;
	}
	.footer:hover .github-corner {
		width: 7rem;
		height: 7rem;
	}

.github-corner {
    position: fixed;
    top: 0;
    right: 0;
    width: 6rem;
    height: 6rem;
    color: #EEEEEE;
    fill: #2c3e50;
    border: 0;
    z-index: 101;
}
	.github-corner .octo-arm {
	    -webkit-animation: octocat-wave 560ms infinite;
	    -moz-animation: octocat-wave 560ms infinite;
	    -ms-animation: octocat-wave 560ms infinite;
	    -o-animation: octocat-wave 560ms infinite;
	    animation: octocat-wave 560ms infinite;
	}
@keyframes octocat-wave {
	0% , 50% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	25% , 75% {
		-webkit-transform: rotate(-25deg);
		transform: rotate(-25deg);
	}
}
